* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.contact-us,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('../public/images/service.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('../public/images/contactus.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}

.con-detail {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 60px;
  align-items: center
}

img {
  height: 100px;
  width: 100px;
}

.sign-up {
  background-image: url('../public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: cadetblue;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 2px;
  color: #fff;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

#contact-details .details h1,
#form-details form h1 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

/* ipad 768 x 1024 */

@media (max-width: 799px) {
  #form-details {
    padding: 40px;
  }
  
  #form-details form {
    width: 90%;
  }

  .contact {
    margin-left: 40px;
  }
}

@media (max-width: 477px) {
  #form-details {
    padding: 0px;
  }
  
  #form-details form {
    width: 100%;
  }

  .contact {
    margin-left: 0px;
  }
}

